{% extends "base.html.twig" %}

{% block title %}Service - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

{#            {% include "navbar.html.twig" %}#}

            <nav class="navbar d-flex align-items-center justify-content-between">

                <section class="w-100">

                    <form action="" method="get">

                        <div class="d-inline-block">
                            <label for="day" class="inp-label">Jour</label>
                            <input type="text" name="day" id="day" class="inp-text" size="5" value="{{ app.request.get('day') }}">

                        </div>

                        <div class="d-inline-block">
                            <label for="month" class="inp-label">Mois</label>
                            <input type="text" name="month" id="month" class="inp-text" size="5" value="{{ app.request.get('month') }}">
                        </div>

                        <div class="d-inline-block">
                            <label for="year" class="inp-label">Année</label>
                            <input type="text" name="year" id="year" class="inp-text" size="5" value="{{ app.request.get('year') }}">
                        </div>

                        <div class="d-inline-block">
                            <label for="number" class="inp-label">Numéro</label>
                            <input type="text" name="number" id="number" class="inp-text" size="5" value="{{ app.request.get('number') }}">
                        </div>

                        <div class="d-inline-block">
                            <label for="subject" class="inp-label">Objet</label>
                            <input type="text" name="subject" id="subject" class="inp-text" size="30" value="{{ app.request.get('subject') }}">
                        </div>

                        <div class="d-inline-block">
                            <label for="service" class="inp-label">Service</label>
                            <input type="text" name="service" id="service" class="inp-text" size="30" value="{{ app.request.get('service') }}">
                        </div>

                        <button class="btn-blue ml-2 mr-2">Filtrer</button>

                        <a href="{{ path('information') }}" class="link-black">Réinitialiser</a>


                    </form>

                </section>

            </nav>

            <section class="content">

                {% include "info.html.twig" %}

                {% if notesService is empty %}

                    {% include "no-results.html.twig" %}

                {% else %}

                <div class="content-table">

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="b-none">Date</th>
                            <th class="b-none">N°</th>
                            <th class="b-none ">Objet</th>
                            <th class="b-none w-100">Service</th>
                            {% if app.session.get('bModifNoteServ') %}
                                <th class="b-none">Modifier</th>
                            {% endif %}
                            {% if app.session.get('bSupprNoteServ') %}
                                <th class="b-none">Supprimer</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in notesService %}
                                <tr>
                                    <td class="no-wrap">{{ item.dDateCreation|date('d-m-Y') }}</td>
                                    <td>{{ item.iNumero }}</td>
                                    <td>{{ item.vLibelle }}</td>
                                    <td>{{ item.vService }}</td>
                                    {% if app.session.get('bModifNoteServ') %}
                                        <td style="text-align: center">
                                            <a href="{{ path('service modify') }}?id={{ item.iIdNote }}" class="table-modify-link edit">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/></svg>
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if app.session.get('bSupprNoteServ') %}
                                        <td style="text-align: center">
                                            <a href="{{ path('service delete') }}?id={{ item.iIdNote }}" class="table-modify-link delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

                {% endif %}

            </section>

        </section>

    </main>

{% endblock %}