{% extends "base.html.twig" %}

{% block title %}Chrono - Connexion{% endblock %}

{% block body %}
    
    <main class="d-flex align-items-center justify-content-center black full">

        <div class="d-flex align-items-center white br-025">

            <div style="width: 24rem;" class="pt-4 pb-4 pl-2 pr-2">
                <img src="{{ asset('/build/images/logo-ildys.png') }}" alt="Logo Fondation Ildys" class="logo-ildys no-drag">
            </div>

            <div class="connexion-inner pt-4 pb-4 pl-2 pr-2">
                <div>
                    <h1>Connexion</h1>
                    <p>Entrez vos informations de connexion afin d'accéder à l'outil Ildys Chrono</p>
                </div>

                {% set erreur = app.request.get('e') %}
                {% if erreur is not empty %}
                <p class="error">
                <b>Erreur :</b>
                {% endif %}
                {% if erreur == 1 %}
                L'identifiant et/ou le mot de passe sont incorrects
                {% elseif erreur == 2 %}
                Ce compte n'existe pas dans la base de données
                {% elseif erreur == 3 %}
                Ce compte a été désactivé
                {% elseif erreur == 4 %}
                Aucune permission n'est associée à ce compte
                {% endif %}
                </p>

                {{ form_start(form) }}

                    {{ form_row(form.user, {'label': 'Utilisateur'}) }}
                    {{ form_row(form.password, {'label': 'Mot de passe'}) }}


                    <div class="d-flex justify-content-center">
                        {{ form_row(form.login, {'label': 'Se connecter'}) }}
                    </div>

                {{ form_end(form, {'label': 'Se connecter'}) }}

            </div>

        </div>

    </main>

{% endblock %}