{% extends "base.html.twig" %}

{% block title %}Chrono - Connexion{% endblock %}

{% block body %}
    
    <main class="d-flex align-items-center justify-content-center black c-white full">

{#        <form id="connexion-form" method="post" class="d-flex align-items-center justify-content-center flex-direction-column" action="courrier">#}
{#            <div class="text-center">#}
{#                <h1>Connexion à l'outil Chrono</h1>#}
{#                <p>Entrez vos informations de connexion afin d'accéder à l'outil Ildys Chrono</p>#}
{#            </div>#}

{#            <div class="w-100">#}
{#                <label for="user" class="inp-label">Utilisateur</label>#}
{#                <input type="text" name="user" id="user" class="inp-text inp-dark w-100" autocomplete="username">#}
{#                <label for="password" class="inp-label">Mot de passe</label>#}
{#                <input type="password" name="password" id="password" class="inp-text inp-dark w-100" autocomplete="current-password">#}
{#            </div>#}

{#            <div class="w-100">#}
{#                <label for="password-visible" id="password-visible-container" class="d-flex align-items-center checkbox-container mt-1" tabindex="0">#}
{#                    <input type="checkbox" name="password-visible" id="password-visible" class="checkbox">#}
{#                    Voir le mot de passe#}
{#                </label>#}
{#            </div>#}

{#            <div class="mt-2 mb-2">#}
{#                <button id="connexion" class="btn-blue" onclick="loadingPage()">Connexion</button>#}
{#            </div>#}

{#            <div>#}
{#                <a href="#" class="link-white">Mot de passe oublié</a>#}
{#            </div>#}
{#        </form>#}
        <div style="width: 20rem">
            <div class="text-center">
                <h1>Connexion à l'outil Chrono</h1>
                <p>Entrez vos informations de connexion afin d'accéder à l'outil Ildys Chrono</p>
            </div>

            {{ error }}

            {{ form_start(form) }}

                {{ form_row(form.code, {'label': 'Utilisateur'}) }}


                <div class="d-flex justify-content-center">
                    {{ form_row(form.Connexion) }}
                </div>

            {{ form_end(form) }}

{#            {% if error %}#}
{#                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#            {% endif %}#}

{#            <form action="{{ path('connexion') }}" method="post">#}
{#                <label for="username">Username:</label>#}
{#                <input type="text" id="username" name="_username" value="{{ last_username }}"/>#}

{#                <label for="password">Password:</label>#}
{#                <input type="password" id="password" name="_password"/>#}

{#                #}{##}
{#                If you want to control the URL the user#}
{#                is redirected to on success (more details below)#}
{#                <input type="hidden" name="_target_path" value="/account"/>#}
{#                #}

{#                <input type="hidden" name="_target_path" value="/courrier"/>#}

{#                <button type="submit">login</button>#}
{#            </form>#}
        </div>

    </main>

{% endblock %}