{% extends "base.html.twig" %}

{% block title %}Modifier Note d'Information - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            <section class="content">

                <h4>Modifier la note d'information</h4>

                {{ form_start(form) }}
                <div>
                    {{ form_row(form.iNumero, {'label': 'Numéro'}) }}
                    {{ form_row(form.vLibelle, {'label': 'Libellé'}) }}
                    {{ form_row(form.vService, {'label': 'Service'}) }}
                    {{ form_row(form.iIdUser, {'label': 'Id User'}) }}
                    <div class="d-flex align-items-center">
                        {{ form_row(form.Modifier, {'label': 'Modifier '}) }}
                        <a href="{{ path('information') }}" class="link-black ml-2">Annuler</a>
                    </div>
                </div>
                {{ form_end(form) }}

            </section>

        </section>

    </main>

{% endblock %}