{% extends "base.html.twig" %}

{% block title %}Administration - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                {% include "administration/user/navbar-user.html.twig" %}

                <h4 class="mt-2">Modification des droits utilisateur</h4>

                {% include "info.html.twig" %}

                {{ form_start(form) }}
                <div class="category mb-1">Courrier</div>
                <div>{{ form_widget(form.bAjoutCourrier) }}{{ form_label(form.bAjoutCourrier) }}</div>
                <div>{{ form_widget(form.bModifCourrier) }}{{ form_label(form.bModifCourrier) }}</div>
                <div>{{ form_widget(form.bSupprCourrier) }}{{ form_label(form.bSupprCourrier) }}</div>
                <div class="category mt-2 mb-1">Information</div>
                <div>{{ form_widget(form.bAjoutNoteInfo) }}{{ form_label(form.bAjoutNoteInfo) }}</div>
                <div>{{ form_widget(form.bModifNoteInfo) }}{{ form_label(form.bModifNoteInfo) }}</div>
                <div>{{ form_widget(form.bSupprNoteInfo) }}{{ form_label(form.bSupprNoteInfo) }}</div>
                <div class="category mt-2 mb-1">Service</div>
                <div>{{ form_widget(form.bAjoutNoteServ) }}{{ form_label(form.bAjoutNoteServ) }}</div>
                <div>{{ form_widget(form.bModifNoteServ) }}{{ form_label(form.bModifNoteServ) }}</div>
                <div>{{ form_widget(form.bSupprNoteServ) }}{{ form_label(form.bSupprNoteServ) }}</div>
                <div>{{ form_widget(form.iIdUser) }}</div>
                {{ form_end(form) }}

                {{ form_start(formAdmin) }}
                <div class="category mt-2 mb-1">Administrateur</div>
                <div>{{ form_widget(formAdmin.bAdmin) }}{{ form_label(formAdmin.bAdmin) }}</div>
                {{ form_end(formAdmin) }}

            </section>

        </section>

    </main>

{% endblock %}