{% extends "base.html.twig" %}

{% block title %}Administration - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                {% include "administration/user/navbar-user.html.twig" %}

                <h4 class="mt-2">Modification des droits utilisateur</h4>

                {% include "info.html.twig" with {'txt': 'L\'utilisateur a bien été enregistré !'} %}

                {{ form_start(form) }}
                <div class="category mb-1">Courrier</div>
                <div>{{ form_widget(form.courrierAdd) }}{{ form_label(form.courrierAdd) }}</div>
                <div>{{ form_widget(form.courrierMod) }}{{ form_label(form.courrierMod) }}</div>
                <div>{{ form_widget(form.courrierDel) }}{{ form_label(form.courrierDel) }}</div>
                <div class="category mt-2 mb-1">Information</div>
                <div>{{ form_widget(form.informationAdd) }}{{ form_label(form.informationAdd) }}</div>
                <div>{{ form_widget(form.informationMod) }}{{ form_label(form.informationMod) }}</div>
                <div>{{ form_widget(form.informationDel) }}{{ form_label(form.informationDel) }}</div>
                <div class="category mt-2 mb-1">Service</div>
                <div>{{ form_widget(form.serviceAdd) }}{{ form_label(form.serviceAdd) }}</div>
                <div>{{ form_widget(form.serviceMod) }}{{ form_label(form.serviceMod) }}</div>
                <div>{{ form_widget(form.serviceDel) }}{{ form_label(form.serviceDel) }}</div>
                <div>{{ form_widget(form.idUser) }}</div>
                {{ form_end(form) }}

            </section>

        </section>

    </main>

{% endblock %}