{% extends "base.html.twig" %}

{% block title %}Administration - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                {% include "administration/user/navbar-user.html.twig" %}

                <h4 class="mt-2">Modification des informations utilisateur</h4>

                {% include "info.html.twig" %}

                {{ form_start(form) }}
                <div>
                    {{ form_row(form.vPrenomUser, {'label': 'Prénom'}) }}
                    {{ form_row(form.vNomUser, {'label': 'Nom'}) }}
                    {{ form_row(form.vIdentifiant, {'label': 'Identifiant'}) }}
                </div>
                {{ form_end(form) }}

            </section>

        </section>

    </main>



{% endblock %}