{% extends "base.html.twig" %}

{% block title %}Administration - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                {% include "administration/user/navbar-user.html.twig" %}

                <h4 class="mt-2">Modification des informations utilisateur</h4>

                {% include "info.html.twig" with {'txt': 'L\'utilisateur a bien été enregistré !'} %}

                {{ form_start(form) }}
                <div>
                    {{ form_row(form.firstname, {'label': 'Prénom'}) }}
                    {{ form_row(form.lastname, {'label': 'Nom'}) }}
                    {{ form_row(form.service, {'label': 'Service'}) }}
                    {{ form_row(form.code, {'label': 'Code'}) }}
                    <div class="d-none">{{ form_row(form.modificationDate) }}</div>
                </div>
                {{ form_end(form) }}

            </section>

        </section>

    </main>



{% endblock %}