<nav class="navbar d-flex align-items-center justify-content-between">

    <section class="w-100 mr-2">

        {% if app.request.pathinfo in ['/courrier', '/information', '/service'] %}
            <div class="d-inline-block">
                <label for="day" class="inp-label">Jour</label>
                <select name="day" id="day" class="inp-text">
                    {% for day in 1..31 %}
                        <option {% if day == 'now' | date('d') %} selected {% endif %} value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if app.request.pathinfo in ['/courrier', '/information', '/service'] %}
            <div class="d-inline-block">
                <label for="month" class="inp-label">Mois</label>
                <select name="month" id="month" class="inp-text">
                    {% for month in 1..12 %}
                        <option {% if month == 'now' | date('m') %} selected {% endif %} value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if app.request.pathinfo in ['/courrier', '/information', '/service'] %}
            <div class="d-inline-block">
                <label for="year" class="inp-label">Année</label>
                <select name="year" id="year" class="inp-text">
                    {% for year in 2002..'now' | date('Y') %}
                        <option {% if year == 'now' | date('Y') %} selected {% endif %} value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if app.request.pathinfo in ['/courrier', '/information', '/service'] %}
            <div class="d-inline-block">
                <label for="subject" class="inp-label">Objet</label>
                <input type="text" name="subject" id="subject" class="inp-text" size="50">
            </div>
        {% endif %}
        
        {% if app.request.pathinfo in ['/courrier'] %}
            <div class="d-inline-block">
                <label for="recipient" class="inp-label">Destinataire</label>
                <input type="text" name="recipient" id="recipient" class="inp-text" size="50">
            </div>
        {% endif %}
        
        {% if app.request.pathinfo in ['/information', '/service']  %}
            <div class="d-inline-block">
                <label for="service" class="inp-label">Service</label>
                <input type="text" name="service" id="service" class="inp-text" size="50">
            </div>
        {% endif %}
        
        {% if app.request.pathinfo in ['/administration']  %}
            <div class="d-inline-block w-100">
                <input type="text" name="service" id="service" class="inp-text w-100" placeholder="Tapez le nom d'un utilisateur...">
            </div>
        {% endif %}

    </section>

    {% if app.request.pathinfo in ['/courrier', '/information', '/service'] %}
        <div class="d-inline-block">
            <button class="btn-grey">Filtrer</button>
        </div>
    {% endif %}

    {% if app.request.pathinfo in ['/administration'] %}
        <div class="d-inline-block">
            <button class="btn-blue">Ajouter utilisateur</button>
        </div>
    {% endif %}

</nav>