{% extends "base.html.twig" %}

{% block title %}Administration - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            <section class="content">

                {% include "info.html.twig" %}

                <h4>Créer un nouvel utilisateur</h4>

                {{ form_start(form) }}
                <div>
                    {{ form_row(form.vPrenomUser, {'label': 'Prénom'}) }}
                    {{ form_row(form.vNomUser, {'label': 'Nom'}) }}
                    {{ form_row(form.vIdentifiant, {'label': 'Identifiant'}) }}
                    {{ form_widget(form.bAdmin) }} {{ form_label(form.bAdmin, 'Administrateur') }}
                    {{ form_row(form.Creer, {'label': 'Créer '}) }}
                </div>
                {{ form_end(form) }}

            </section>

        </section>

    </main>

{% endblock %}