{% extends "base.html.twig" %}

{% block title %}Suppression Courrier - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            <section class="content">

                <h4>Supprimer un courrier</h4>

                <table class="table-delete">
                    <tr><td>Date</td><td>{{ courrier.dDateCreation|date("d/m/Y") }}</td></tr>
                    <tr><td>Numéro</td><td>{{ courrier.iNumero }}</td></tr>
                    <tr><td>Libellé</td><td>{{ courrier.vLibelle }}</td></tr>
                    <tr><td>Destinataire</td><td>{{ courrier.vDestinataire }}</td></tr>
                </table>

                <p>⚠️ Attention, cette action est définitive !</p>

                <div class="d-flex align-items-center">
                    {{ form(form) }}
                    <a href="{{ path('courrier') }}" class="link-black ml-2">Annuler</a>
                </div>

            </section>

        </section>

    </main>

{% endblock %}