{% extends "base.html.twig" %}

{% block title %}Suppression Note de Service - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            <section class="content">

                <h4>Supprimer une note de service</h4>

                <table class="table-delete">
                    <tr><td>Date</td><td>{{ noteService.dDateCreation|date("d/m/Y") }}</td></tr>
                    <tr><td>Numéro</td><td>{{ noteService.iNumero }}</td></tr>
                    <tr><td>Libellé</td><td>{{ noteService.vLibelle }}</td></tr>
                    <tr><td>Service</td><td>{{ noteService.vService }}</td></tr>
                </table>

                <p>⚠️ Attention, cette action est définitive !</p>

                <div class="d-flex align-items-center">
                    {{ form(form) }}
                    <a href="{{ path('service') }}?year={{ "now"|date("Y") }}" class="link-black ml-2">Annuler</a>
                </div>

            </section>

        </section>

    </main>

{% endblock %}